<div class="page-container">
	<h1>College Admissions Specialists</h1>
	<div class="left-div">
		
		<p>
			<span class="redtext"><b>College Quest Advising (CQA)</b></span> is a boutique firm that provides private, professional consultations for freshmen, sophomores, juniors, and seniors in their search for viable choices during their <span class="redtext"><b>COLLEGE QUEST</b></span>. The college admissions process can be complicated and confusing, but it is an ultimately rewarding experience for students and parents. CQA offers the guidance and support you need to successfully navigate the college admissions process.
		</p>
		<p>			
			Let us maximize your potential for an exciting college experience!
		</p>
		<table id="panel-table">
			<tr>
				<td width="33%">
					<div class="panel panel-danger" id="home-panel">
						<div class= "panel-heading" style="text-align: center">
							Guidance
						</div>
						<div class="panel-body" style="text-align: center">
							Strategic Positioning and Preparation<br />
							<br />Structured and Simplified Process<br />
							<div id="panel-butt"><br /><%= link_to "Learn More", programs_pages_path, :class => "btn btn-primary" %></div>
						</div>
					</div>	
				</td>
				<td width="33%">
					<div class="panel panel-danger" id="home-panel">
						<div class= "panel-heading" style="text-align: center">
							Direction
						</div>
						<div class="panel-body" style="text-align: center">
							Comprehensive College Planning<br />
							<br />Personal In-Depth College Counseling<br />
							<div id="panel-butt"><br /><%= link_to "Learn More", track_record_pages_path, :class => "btn btn-primary" %></div>
						</div>
					</div>
				</td>
				<td width="33%">
					<div class="panel panel-danger" id="home-panel">
						<div class= "panel-heading" style="text-align: center">
							Support
						</div>
						<div class="panel-body" style="text-align: center">
							Enthusiastic and Positive Advisors<br />
							<br />Over 25+ Years of Higher Education Experience<br />
							<div id="panel-butt"><br /><%= link_to "Learn More", background_pages_path, :class => "btn btn-primary" %></div>
						</div>
					</div>
				</td>
			</tr>
		</table>
		<div id="home-testimonials">
			<p>
			"I just wanted to say that I am immensely grateful for your help through this difficult process. You have helped solidify a future for me and that is simply priceless."<br />
			-<i>Andrew, University of Miami, Class of 2017</i><br />
			</p>
			<p><br />
				"I GOT INTO UPENN!!!!!!!! Thank you so much for all your help throughout the whole process!!! I couldn't have done it without you!"
				-<i>Marykate, University of Pennsylvannia, Class of 2016</i>
			</p>
			<p style="text-align: center"><%= link_to "Click For More Testimonials", testimonials_pages_path, :class=>"btn btn-primary" %></p>
		</div>
	</div>
	<div class="right-div">
		<h4>Places We Go</h4>
		<div id="carousel-container">
			<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  		<!-- Wrapper for slides -->
		  <div class="carousel-inner">
		    <div class="item active" style="text-align: center">
		      <%= image_tag("ali.png") %>
		      Ali <br /> Quinnipiac University
		    </div>
		    <div class="item" style="text-align: center">
		      <%= image_tag("bubba.png") %>
		      Bubba <br /> Harvard University
		    </div>
		    <div class="item" style="text-align: center">
		      <%= image_tag("emmanuel.png") %>
		      Emmanual <br /> U Mass Lowell
		    </div>
		    <div class="item" style="text-align: center">
		      <%= image_tag("julie.png") %>
		      Julie <br /> Arizona State University
		    </div>
		    <div class="item" style="text-align: center">
		      <%= image_tag("kathryn.png") %>
		      Kathryn <br /> U Penn
		    </div>
		    <div class="item" style="text-align: center">
		      <%= image_tag("katie.png") %>
		      Katie <br /> USC
		    </div>
		    <div class="item" style="text-align: center">
		      <%= image_tag("michelle.png") %>
		      Michelle <br /> American University
		    </div>
		    <div class="item" style="text-align: center">
		      <%= image_tag("nicole.png") %>
		      Nicole <br /> Rider University
		    </div>
		    <div class="item" style="text-align: center">
		      <%= image_tag("peter.png") %>
		      Peter <br /> Wake Forest University
		    </div>
		    <div class="item" style="text-align: center">
		      <%= image_tag("alex_berkley.png") %>
		      Alex <br /> UC Berkeley
		    </div>
		    <div class="item" style="text-align: center">
		      <%= image_tag("amy_keene_state.png") %>
		      Amy <br /> Keene State College
		    </div>
		    <div class="item" style="text-align: center">
		      <%= image_tag("katie_jamie_tcu.png") %>
		      Katie & Jamie <br /> Texas Christian University
		    </div>
		    <div class="item" style="text-align: center">
		      <%= image_tag("kelly_ucla.png") %>
		      Kelly <br /> UCLA
		    </div>
		    <div class="item" style="text-align: center">
		      <%= image_tag("lee_ucberkley.png") %>
		      Lee <br /> UC Berkeley
		    </div>
		    <div class="item" style="text-align: center">
		      <%= image_tag("matt_villanova.png") %>
		      Matt <br /> Villanova
		    </div>
		    <div class="item" style="text-align: center">
		      <%= image_tag("ryan_cal_poly.png") %>
		      Ryan <br /> Cal Poly-SLO
		    </div>
		    <div class="item" style="text-align: center">
		      <%= image_tag("zack_hobart.png") %>
		      Zack <br /> Hobart William Smith
		    </div>

		  </div>

		  <!-- Controls -->
		  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
		    <span class="glyphicon glyphicon-chevron-left"></span>
		  </a>
		  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
		    <span class="glyphicon glyphicon-chevron-right"></span>
  		</a>
			</div>
		</div>
		<div id="list-link">
			<%= link_to "Click for Complete List", track_record_pages_path(:attended => true), :class => "btn btn-primary" %>
		</div>
		<div id="contact">
			<h4>Contact Us</h4>
			<p>
				<i>West Coast</i><br />
				<b>Dr. Mary K. Baker</b><br />
				<span class="glyphicon glyphicon-phone-alt"></span>  714.614.2801<br/>
				<span class="glyphicon glyphicon-envelope"></span> mary@collegequestadvising.com
			</p>
			<p>
				<i>East Coast</i><br />
				<b>Renee L. Serrano, M.Ed.</b><br />
				<span class="glyphicon glyphicon-phone-alt"></span>  978.697.8767<br/>
				<span class="glyphicon glyphicon-envelope"></span> renee@collegequestadvising.com
			</p>
			<table>
				<tr>
					<td><%= image_tag("neacac.png") %></td>
					<td><%= image_tag("wacac.png") %></td>
				</tr>
			</table>
		</div>
	</div>
</div>