<!DOCTYPE html>
<html>
<head>
  <title>College Quest Advising</title>
  <%= favicon_link_tag 'favicon.ico' %> 
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="Description" content="College Admissions Counseling for High School Students" />
</head>
<body>
	<div class="container">
	<table align="center">
		<tr>
			<td><%= link_to image_tag("logo2.png"), root_path %></td>
			<td><%= link_to image_tag("bigboldtitle.png"), root_path %></td>
		</tr>
	</table>
	<div id="navigation">
		<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header" style="padding-left: 45px">
    <%= link_to "CQA", root_path, :class => "navbar-brand" %>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Meet The Advisors<b class="caret"></b></a>
        <ul class="dropdown-menu">  
          <li><%= link_to "CQA History", cqa_history_pages_path %></li>
          <li><%= link_to "About Us", background_pages_path %></li>
          <li><%= link_to "Our Approach", "http://nshoremag.com/college-guide/#sthash.Thqbxzje.dpbs", :target => "_blank" %></li>
          <li><%= link_to "Our Campus Visits", visits_pages_path %></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Programs & Services<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><%= link_to "Services", services_pages_path %></li>
          <li><%= link_to "Program Packages", packages_pages_path %></li>
        </ul>
      </li>
      <li><%= link_to "Testimonials", testimonials_pages_path %> </li>
      <li><%= link_to "Our Acceptances", track_record_pages_path(:admitted => true) %></li>
      <li><%= link_to "Client Resources", client_resources_pages_path %> </li>
      <li><%= link_to "Contact", contact_pages_path %></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
	</div>
  <div>
    <p id="notice"><%= flash[:notice] %></p>
    <p id="alert"><%= flash[:alert] %></p>
  </div>

<%= yield %>
<div class="foot">
  <div id="footer-text">
  <span class="glyphicon glyphicon-copyright-mark"></span> 2013 College Quest Advising </div>
</div>
</div>
</body>
</html>
